*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Regular";
    src: url("./assest/fonts/Geologica/static/Geologica_Auto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ExtraLight";
    src: url("./assest/fonts/Geologica/static/Geologica_Auto-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: url("./assest/fonts/Geologica/static/Geologica-Bold.ttf") format("truetype");
}
.input-box-register {
    position: relative;
    width: 500px;
    margin-bottom: 10px;
}
.input-box-register span{
    position: absolute;
    right: 5px;
    bottom: 6px; 
    display: flex;
    align-items: center;
}
.input-box-register input {
    width: 100%;
    padding: 12px 35px 7px 10px;
    border: none;
    border-bottom: 2px solid #4d4d4d;
    outline: none;
    font-size: 16px;
    background: transparent;
    color: #4d4d4d;
}

.input-box-register input:focus {
    border-bottom-color: #2563eb;
}

.input-box-register input::placeholder {
    color: #4d4d4d69;
}
.signUpButton{
    margin-top:1rem;
}

.errorPasswordRegister{
    color: tomato;
    font-family: "Blod",sans-serif;
    font-size: 1.5rem;
}
#errorPasswordRegister{
    font-family: "ExtraLight",sans-serif;
    font-size: 1.4rem;
    color: tomato;
}