#BackToLoginButton{
    font-family: "bold", sans-serif ;
    font-size: 1.3rem;
    letter-spacing: 5%;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: white;
    background-color: #185fa5;
}
#BackToLoginButton:hover{
    background-color: #1f79d4;

}